.root {
	-arb-color-pearl: #f8f5f2;
	-arb-color-pebble: #e0e0e0;
	-arb-color-shadow: #2a3132;
	-arb-color-stone: #336b87;
	-arb-color-mist: #90afc5;
	-arb-color-autumn-foliage: #763626;

	-fx-font-family: "Futura Condensed BQ";
	-fx-font-size: 12pt;
	-fx-font-color: -arb-color-shadow;
	-fx-box-border: -arb-color-pearl;
	-fx-color: -arb-color-pearl;
	-fx-background-color: -arb-color-pearl;
	-fx-control-inner-background: -arb-color-pebble;
	-fx-outer-border: -arb-color-shadow;
	-fx-inner-border: -arb-color-shadow;
	-fx-inner-border-horizontal: -arb-color-pearl;
	-fx-inner-border-bottomup: -arb-color-pearl;
	-fx-body-color: -arb-color-pearl;
	-fx-body-color-bottomup: -arb-color-pearl;
	-fx-mark-color: -arb-color-stone;
	-fx-mark-highlight-color: -arb-color-stone;
	-fx-tab-border-color: -arb-color-shadow;
	-fx-accent: -arb-color-stone;
	-fx-focus-color: -arb-color-stone;
	-fx-cell-focus-inner-border: -arb-color-stone;
}

.arb-root-stack-pane {
	-fx-background-color: transparent;
}

.arb-help-view {
	-fx-background-color: red;
}

.arb-side-bar-view {
	-fx-inner-border: -arb-color-pearl;
}

.arb-top-level-tab-pane {
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 3;
}

.arb-labeled-text-field>.text-field {
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 2;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-padding: 0.1666667em; /* 2 */
}

.arb-filler-table-cell {
	-fx-background-color: -arb-color-shadow
}

.button {
	-fx-background-color: -arb-color-autumn-foliage;
	-fx-text-fill: -arb-color-pearl;
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 3;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.arb-system-menu-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width : 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-width: 0;
}

/* Application system menu buttons (in the top corners of the screen). This must be after .button to override those configurations. */
.arb-system-menu-button:hover {
	-fx-background-color: linear-gradient(to bottom, derive(-arb-color-pebble,-30%), derive(-arb-color-pearl,-30%));
}

.menu-bar {
	-fx-background-color: transparent;
}

.radio-button>.radio {
	-fx-border-width: 2;
	-fx-border-radius: 30;
	-fx-border-color: -arb-color-shadow;
	-fx-background-color: -arb-color-pebble;
}

.text-area {
	-fx-background-color: -arb-color-pearl;
	-fx-border-color: -arb-color-shadow;
	-fx-background-radius: 3;
	-fx-border-width: 3;
	-fx-prompt-text-fill: -arb-color-pearl;
}

.combo-box-base {
	-fx-border-width: 1;
	-fx-border-radius: 2;
}

.combo-box-base>.arrow-button {
	-fx-background-color: -arb-color-pearl;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
	-fx-padding: 0 0.667em 0 0.667em; /* 6 8 6 8 */
	-fx-border-width: 2;
	-fx-border-radius: 0 3 3 0;
	-fx-border-color: -arb-color-shadow;
}

.check-box>.box {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
		-fx-inner-border, -arb-color-pebble;
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 2;
	-fx-background-radius: 3;
	-fx-border-radius: 3;
}

.tab-pane>.tab-header-area>.headers-region>.tab {
	-fx-background-color: -arb-color-stone;
	-fx-text-base-color: -arb-color-pearl;
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 2 2 0 2;
	-fx-border-radius: 4 4 0 0;
	-fx-background-radius: 4 4 0 0;
}

.tab-pane>.tab-header-area>.headers-region>.tab:selected {
	-fx-background-color: -arb-color-pearl;
	-fx-text-base-color: -arb-color-shadow;
}

.tab-pane>.tab-header-area>.tab-header-background {
	-fx-background-color: -fx-outer-border, -arb-color-pebble,
		-arb-color-pebble;
	-fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.6), 4, 0.0, 0, 0);
}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator
	{
	-fx-border-width: 0;
}

.tab-content-area {
	-fx-border-color: -arb-color-shadow;
	-fx-border-width: 0;
}

.table-view {
	-fx-border-width: 2px 3px 3px 2px;
	-fx-background-color: -arb-color-pearl;
	-fx-border-color: -arb-color-shadow;
	-fx-table-header-border-color: -arb-color-shadow;
}

.table-row-cell {
	-fx-background-color: -arb-color-pearl;
	-fx-background-insets: 0;
	-fx-cell-size: 1.75em;
}

.table-row-cell:selected, .table-row-cell:odd:selected {
	-fx-background-color: -arb-color-autumn-foliage;
	-fx-text-fill: -arb-color-pearl;
}

.table-row-cell:odd {
	-fx-background-color: -arb-color-pebble;
	-fx-text-fill: -arb-color-shadow;
}

.table-view .column-header-background {
	-fx-background-color: -arb-color-stone;
}

.table-view .column-header-background .label {
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-font-weight: bold;
}

.table-view .column-header, .table-view .filler {
	-fx-border-color: -arb-color-shadow;
	-fx-table-header-border-color: -arb-color-shadow;
	-fx-background-color: transparent;
}

.table-view>.virtual-flow>.corner {
	-fx-background-color: -arb-color-pearl;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot
	{
	-fx-background-color: -arb-color-pebble;
}

.table-cell {
	-fx-border-color: -arb-color-shadow;
}

.virtual-flow, .scroll-bar, .scroll-bar, .scroll-bar>.track, .scroll-bar>.track,
	.scroll-bar>.track-background, .scroll-bar>.track-background,
	.scroll-bar>.increment-button, .scroll-bar>.decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow,
	.scroll-bar:horizontal>.thumb, .scroll-bar:vertical>.thumb {
	-fx-background-color: -arb-color-stone;
}

.separator, .tool-bar {
	-fx-background-color: transparent;
}

/*
    Defines the rectangle responsible for the shadow
*/
.decoration-shadow{
    -fx-fill: linear-gradient(to bottom, -arb-color-pebble, -arb-color-pearl);
    /*radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);*/
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}